.menu {
  height: 200px;
  width: 500px;
  margin: auto;
  margin-top: 200px;
}

.container {
  display: grid;
  background-color: white;
  height:100%;
  width:100%;
  --col:30;
  grid-template-columns: repeat(var(--col),auto);
  grid-template-rows: repeat(var(--col),auto);
  grid-gap: 0px;
}

.box {
  background-color: black;
}

html,body {
  height: 100%;
  margin: 0px;
}

.box-over {
  background-color: white !important;
}
